[submodule "vim-pack-tianon/start/jellybeans"]
	path = vim-pack-tianon/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim-pack-tianon/start/rainbow"]
	path = vim-pack-tianon/start/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim-pack-tianon/start/vim-afterimage"]
	path = vim-pack-tianon/start/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim-pack-tianon/start/vim-eunuch"]
	path = vim-pack-tianon/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim-pack-tianon/start/vim-sensible"]
	path = vim-pack-tianon/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim-pack-tianon/start/vim-smali"]
	path = vim-pack-tianon/start/vim-smali
	url = https://github.com/kelwin/vim-smali.git
[submodule "vim-pack-tianon/start/vim-vividchalk"]
	path = vim-pack-tianon/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim-pack-tianon/start/mojo.vim"]
	path = vim-pack-tianon/start/mojo.vim
	url = https://github.com/yko/mojo.vim.git
[submodule "vim-pack-tianon/start/jenkinsfile"]
	path = vim-pack-tianon/start/jenkinsfile
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
